---
import { getDateDistance } from "@utils/getDateDistance";
import { articlesHandler } from "@utils/handlers/articlesHandler";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const BigHeadlineArticle = await articlesHandler.getBigHeadlineArticle();
const category = await getEntry(
  "categories",
  BigHeadlineArticle.data.category.id
);
---

<a
  href={BigHeadlineArticle.slug}
  class="col-span-1 md:col-span-7 lg:col-span-8 flex flex-col-reverse md:flex-col justify-between gap-6 md:gap-4 mb-4 md:mb-0 group"
>
  <div class="space-y-2 md:spcace-y-4">
    <h2
      class="text-3xl group-hover:underline underline-offset-2 decoration-primary decoration-2 decoration-solid"
    >
      {BigHeadlineArticle.data.title}
    </h2>
    <div class="flex items-center gap-2">
      <span class="text-xs text-base-content/70 text-primary capitalize">
        <!-- TODO: add category icon -->
        {category ? category.data.name : "no category"}
      </span>
      <div class="w-[1px] h-4 bg-base-content/20 mt-1"></div>
      <span class="text-xs text-base-content/70">
        {getDateDistance(BigHeadlineArticle.data.publishedAt.toISOString())}
      </span>
    </div>
  </div>
  <div class="w-full flex-1 max-h-96 bg-base-300 rounded-lg overflow-hidden">
    <Image
      src={BigHeadlineArticle.data.image}
      alt={BigHeadlineArticle.data.title}
      width={400}
      height={300}
      class="rounded-md w-full h-full object-cover"
    />
  </div>
</a>
