---
import { getDateDistance } from "@utils/getDateDistance";
import type { CollectionEntry } from "astro:content";

type Props = {
  article: CollectionEntry<"articles">;
  isLast?: boolean;
};
const { article, isLast } = Astro.props;
const { remarkPluginFrontmatter } = await article.render();
---

<a
  class:list={[
    "flex gap-2 border-b",
    !isLast ? "border-b pb-2" : "border-b-0 pb-0",
  ]}
  href={`/articles/${article.slug}`}
>
  <!-- Image Section -->
  <div class="rounded-md bg-base-300 w-24 h-24"></div>

  <!-- Content Section -->
  <div class="flex-1 flex flex-col">
    <!-- Read Time -->
    <div>
      <span class="text-sm text-base-content/70">
        {remarkPluginFrontmatter.minutesRead}
      </span>
    </div>

    <h3 class="text-base font-semibold flex-1 text-pretty">
      {article.data.title}
    </h3>

    <!-- Metadata -->
    <div class="flex items-center gap-2">
      <span class="text-xs text-base-content/70">
        {getDateDistance(article.data.publishedAt.toISOString())}
      </span>
      <div class="w-[1px] h-4 bg-base-content/20"></div>
      <span class="text-xs text-base-content/70">
        {article.data.category.id}
      </span>
    </div>
  </div>
</a>
