---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
const category = await getEntry("categories", article.data.category.id);
---

<a
  href={article.slug}
  class="flex flex-col gap-4 col-span-1 max-w-sm mx-auto group"
>
  <div class="flex-1 w-full">
    <Image
      src={article.data.image}
      alt={article.data.title}
      width={300}
      height={200}
      loading="lazy"
      class="rounded-md w-full"
    />
  </div>
  <div class="flex-1 flex flex-col gap-2">
    <h3
      class="text-lg font-serif flex-1 group-hover:underline underline-offset-2 decoration-primary decoration-2 decoration-solid"
    >
      {article.data.title}
    </h3>
    <p class="text-sm text-base-content/80 line-clamp-3">
      {article.data.description}
    </p>
    <div class="flex items-center gap-2 mt-0 sm:mt-2">
      <span class="text-xs text-primary capitalize">
        {category ? category.data.name : "no category"}
      </span>
      <div class="w-[1px] h-4 bg-base-content/20"></div>
      <time class="text-xs text-base-content/70"
        >{article.data.publishedAt.toDateString()}</time
      >
    </div>
  </div>
</a>
