---
import CircleFilled from "@assets/svgs/circle-filled.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { SITE } from "lib/consts";


type Props = {
  article: CollectionEntry<"articles">;
}
const {article} = Astro.props

const category = await getEntry("categories", article.data.category.id)
---

<article class="col-span-1 max-w-sm mx-auto group flex">
  <a href="#" class="flex flex-col gap-2">
    <div class="overflow-hidden rounded-md">
      <Image
        src={article.data.cover_image ?? SITE.placeholder_image}
        alt={article.data.cover_image_alt}
        width="360"
        height="360"
        loading={"lazy"}
        format="webp"
        class={"w-full h-full object-cover rounded-md group-hover:scale-105 transition-all duration-300"}
      />
    </div>
    <div class="flex-1 flex flex-col gap-1 p-2 h-full">
      <h3 class="text-xl line-clamp-3 flex-1">{article.data.title}</h3>
      <p class="text-sm line-clamp-4 text-stone-600">
        {article.data.description}
      </p>
      <div class="flex items-center gap-1 mt-2">
        <small class="font-bold capitalize">{category.data.name}</small>
        <span><CircleFilled size={10} color="bg-accent" /></span>
        <small>2 min read</small>
      </div>
    </div>
  </a>
</article>
