---
import { ClientRouter } from "astro:transitions";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/600.css";
import "@fontsource/source-sans-pro/700.css";
import "@fontsource-variable/source-serif-4";

import "~/assets/styles/globals.css";
import { Site } from "~/lib/constants/config";
---

<head>
  <meta charset={Site.charset} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="title" content={Site.title} />
  <meta name="description" content={Site.description} />
  <title>{Site.title}</title>
  <ClientRouter />
</head>
