---
import CircleFilled from "@assets/svgs/circle-filled.astro";
import { Image } from "astro:assets";
import Time04 from "@assets/svgs/time-04.astro";
import NewsPark from "@assets/images/news-park.jpg";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { getDateDistance } from "@utils/getDateDistance";

type Props = {
  data: CollectionEntry<"articles">;
};
const { data } = Astro.props;

const { title, description, category, published_time } = data.data;

const categoryName: CollectionEntry<"categories"> = await getEntry(
  "categories",
  category.id
);
---

<div class="col-span-2 flex items-end justify-end relative h-full">
  <div class="w-full lg:w-10/12 h-full bg-stone-100 rounded-md overflow-hidden">
    <Image
      src={NewsPark}
      alt="News 1"
      width="750"
      height="500"
      loading={"lazy"}
      format="webp"
      class="w-full h-full object-cover rounded-md"
    />
  </div>
  <div
    class="absolute bottom-1 left-1 right-1 translate-y-2/3 lg:top-1/2 lg:bottom-1/2 lg:-translate-y-1/2 lg:left-2 h-fit lg:h-80 lg:aspect-[3/4] flex bg-stone-50 p-4 shadow-md rounded-md"
  >
    <div class="flex-1 flex flex-col gap-2">
      <time class="text-xs text-stone-500 inline-flex items-center gap-1"
        ><Time04 size={16} />{getDateDistance(published_time)}</time
      >
      <div class="flex-1 space-y-4">
        <h3 class="line-clamp-4 text-stone-800 text-xl">
          {title}
        </h3>
        <p class="text-stone-500 text-sm line-clamp-4">
          <span class="line-clamp-3">
            {description}
          </span>
          <a
            href={`/news/${data.slug}`}
            class="text-sm inline-flex mt-2 text-stone-600 font-semibold"
            >Read more</a
          >
        </p>
      </div>
      <p class="text-base inline-flex items-center gap-1">
        <small class="font-bold text-[var(--green-500)]"
          >{categoryName.data.name}</small
        >
        <span class="text-stone-200"><CircleFilled size={10} /></span>
        <small>2 min read</small>
      </p>
    </div>
  </div>
</div>
