---
import { authorsHandler } from "@utils/handlers/authorsHandler";
import AuthorItem from "./_elements/author-item.astro";

type Props = {
  name: string;
  link_path: string;
  link_text: string;
  count: number;
};

const { name, link_path, link_text, count } = Astro.props;

const authors = await authorsHandler.getTopAuthors(count);

console.log(authors);
---

<section class="container pt-16 space-y-4">
  <div class="flex items-center justify-between gap-4">
    <h2 class="text-2xl">{name}</h2>
    <a href={link_path} class="text-sm text-primary">
      <!-- TODO: add arrow icon -->
      <span>{link_text}</span>
    </a>
  </div>
  <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 lg:grid-cols-6">
    <!-- TODO: add authors -->
    {
      authors.map((author) => {
        return <AuthorItem author={author.author} count={author.count} />;
      })
    }
  </div>
</section>
