---
import Github from "~/assets/svgs/github.astro";
import Search01 from "~/assets/svgs/search-01.astro";
import { Navigation, otherLinks, Site } from "~/lib/constants/config";
---

<div class="navbar bg-base-100 border-b">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"></path>
        </svg>
      </div>
      <!-- <ul
        
        class="menu rounded-box  mt-1 w-52 p-2 "
      >

      </ul> -->
      <ul
        tabindex="0"
        class="menu dropdown-content z-[1] bg-base-100 rounded-box w-56 shadow"
      >
        <li><a>Home</a></li>

        <li>
          <details>
            <summary>Categories</summary>
            <ul>
              {
                Navigation.map(({ href, text }) => (
                  <li>
                    <a href={href}>{text}</a>
                  </li>
                ))
              }
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Other Pages</summary>
            <ul>
              {
                otherLinks.map(({ href, text }) => (
                  <li>
                    <a href={href}>{text}</a>
                  </li>
                ))
              }
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl" href="/">{Site.title}</a>
  </div>
  <div class="navbar-end">
    <a class="btn btn-ghost btn-circle" href="/search">
      <Search01 />
    </a>
    <a class="btn btn-ghost btn-circle" href={Site.github} target="_blank">
      <Github />
    </a>
  </div>
</div>
